<html>
<body>
←ここからerror.vm
S2VelocityViewServletによってエラーハンドリングがこのVMに引き継がれています<br />
(VelocityLayoutServlet互換の振る舞い)<br />
<hr>
<h1>error_cause</h1>
<pre>
$error_cause
</pre>

<hr />
<h1>stack_trace</h1>
<pre>
$stack_trace
</pre>

<hr />
<h1>invocation_exception</h1>
<pre>
$invocation_exception
</pre>


